[user]
	email = julienqueffelec@me.com
	name = Julien Queffelec
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[color]
	ui = auto
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = true
	autostash = true
[rebase]
	autoStash = true
[merge]
	ff = only
[diff]
	colorMoved = zebra
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	stash-all = stash save --include-untracked
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.gitmessage
[github]
	user = julienqueffelec